# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Test & Coverage
# ==========================
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# SQLite (if used)
# ==========================
*.db
*.sqlite3

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db